In [1]:
import dalex as dx
titanic = dx.datasets.load_titanic()

In [2]:
titanic.head(n = 5)

   gender   age class     embarked   fare  sibsp  parch  survived
0    male  42.0   3rd  Southampton   7.11      0      0         0
1    male  13.0   3rd  Southampton  20.05      0      2         0
2    male  16.0   3rd  Southampton  20.05      1      1         0
3  female  39.0   3rd  Southampton  20.05      1      1         1
4  female  16.0   3rd  Southampton   7.13      0      0         1

In [3]:
X = titanic.drop(columns='survived')
y = titanic.survived

In [5]:
y

0       0
1       0
2       0
3       1
4       1
       ..
2202    1
2203    1
2204    0
2205    0
2206    0
Name: survived, Length: 2207, dtype: int64

In [6]:
titanic.describe()

               age         fare        sibsp        parch     survived
count  2207.000000  2207.000000  2207.000000  2207.000000  2207.000000
mean     30.436339    19.991638     0.295877     0.228364     0.322157
std      12.154171    43.322805     0.838714     0.692828     0.467409
min       0.166667     0.000000     0.000000     0.000000     0.000000
25%      22.000000     0.000000     0.000000     0.000000     0.000000
50%      29.000000     7.150600     0.000000     0.000000     0.000000
75%      38.000000    21.000000     0.000000     0.000000     1.000000
max      74.000000   512.060700     8.000000     9.000000     1.000000

In [12]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
preprocess = make_column_transformer(
    (StandardScaler(), ['age', 'fare', 'parch', 'sibsp'])
    (OneHotEncoder(), ['gender', 'class', 'embarked']))

<>:5: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-12-f52a76ca859a>:5: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (StandardScaler(), ['age', 'fare', 'parch', 'sibsp'])

TypeError: 'tuple' object is not callable

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-11-26e7b132f27c>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (StandardScaler(), ['age', 'fare', 'parch', 'sibsp'])

TypeError: 'tuple' object is not callable